{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block header_title %}Admin Dashboard{% endblock %}
{% block header_subtitle %}Manage Assignment, Reopened Tasks, And Reports{% endblock %}

{% block nav %}
<a href="/" class="nav-button">Home</a>
{% endblock %}

{% block content %}

<h2>Admin Actions</h2>

<button onclick="location.href='/admin/assign'">
    Assign Tasks
</button>

<button onclick="location.href='/admin/reopen'">
    Reopen Tasks
</button>

<button onclick="location.href='/admin/reports'">
    Completed Reports
</button>

{% endblock %}