{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header_title %}Lawncare Scheduler{% endblock %}
{% block header_subtitle %}Task Scheduling And Reporting{% endblock %}

{% block nav %}
<a href="/employee" class="nav-button">Employee</a>
<a href="/supervisor" class="nav-button">Supervisor</a>
<a href="/admin" class="nav-button">Admin</a>
{% endblock %}

{% block content %}

<h2>Select a Role</h2>

<button onclick="location.href='/employee'">Employee</button>
<button onclick="location.href='/supervisor'">Supervisor</button>
<button onclick="location.href='/admin'">Admin</button>

{% endblock %}