{% extends "base.html" %}

{% block title %}Supervisor Dashboard{% endblock %}

{% block header_title %}Supervisor Dashboard{% endblock %}
{% block header_subtitle %}Assign work or complete supervisor tasks{% endblock %}

{% block nav %}
<a href="/" class="nav-button">Home</a>
{% endblock %}

{% block content %}

<h2>Supervisor Actions</h2>

<button onclick="location.href='/supervisor/assign'">
    Assign Tasks
</button>

<button onclick="location.href='/supervisor/tasks'">
    Assigned Tasks
</button>

{% endblock %}